In [531]:
import mysql.connector
import warnings
import requests
import json
import codecs
from bs4 import BeautifulSoup
import pandas as pd

# Part 1

In [9]:
# Part (1) 
# (c)
db_connection = mysql.connector.connect(host='localhost',
                                            user='root',
                                            passwd='your passwrd')

print(db_connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7ff9c8c8da90>

In [ ]:
db_cursor = db_connection.cursor()
db_cursor.execute("CREATE DATABASE msba")

In [114]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="your passwrd",
  database="msba"
  )
db_cursor = db_connection.cursor()
#Here creating database table as student'
db_cursor.execute("CREATE TABLE Ip_addresses1 (IP varchar(15), CITY VARCHAR(255), zip INT)")
#Get database table'

In [26]:
db_cursor.execute("SELECT * FROM Ip_addresses")
#request executed successful
#new database,table,col shown on mysql workbench

# part 2

In [529]:
#(a)
#free API key: 3e45009249d10e5a9b04e8fbc797e49d

#(b)
#since the base plan for ipstack.com doesn;t support Https, leave it as http
url1 = "http://api.ipstack.com/8.8.8.8?access_key=3e45009249d10e5a9b04e8fbc797e49d& output = json& fields = main"
url2 = "http://api.ipstack.com/128.120.0.25?access_key=3e45009249d10e5a9b04e8fbc797e49d&output = json&fields = main"
url3 = "http://api.ipstack.com/128.32.12.14?access_key=3e45009249d10e5a9b04e8fbc797e49d&output = json&fields = main"
url4 = "http://api.ipstack.com/64.165.72.144?access_key=3e45009249d10e5a9b04e8fbc797e49d&output = json&fields = main"
url5 = "http://api.ipstack.com/24.7.84.227?access_key=3e45009249d10e5a9b04e8fbc797e49d&output = json&fields = main"

In [ ]:
#(c)
results = []
for url in (url1,url2,url3,url4,url5):
    r2 = requests.get(url)
    rr2 = json.loads(r2.content)
    results.append(rr2)
results

In [533]:
#(d)
iplist = []
citylist = []
ziplist = []
for url in (url1,url2,url3,url4,url5):
    r1 = requests.get(url)
    rr1 = json.loads(r1.content)
    iplist.append(rr1['ip'])
    citylist.append(rr1['city'])
    ziplist.append(rr1['zip'])
print(iplist,citylist,ziplist)

['8.8.8.8', '128.120.0.25', '128.32.12.14', '64.165.72.144', '24.7.84.227'] ['Mountain View', 'Davis', 'Berkeley', 'West Sacramento', 'Albany'] ['94041', '95616', '94720', '95819', '94706']

In [534]:
#the mysql table should look like this
joinedlist = pd.DataFrame(
    {'ip': iplist,
     'city': citylist,
     'zip': ziplist
    })
joinedlist

              ip             city    zip
0        8.8.8.8    Mountain View  94041
1   128.120.0.25            Davis  95616
2   128.32.12.14         Berkeley  94720
3  64.165.72.144  West Sacramento  95819
4    24.7.84.227           Albany  94706

In [138]:
#(e) manual way
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="your passwrd",
  database="msba"
  )
mycursor = db_connection.cursor()
mycursor.execute("INSERT INTO Ip_addresses1 (IP,CITY,zip) VALUES ('8.8.8.8','Mountain View',94041)")
mycursor.execute("INSERT INTO Ip_addresses1 (IP,CITY,zip) VALUES ('128.120.0.25','Davis',95616)")
mycursor.execute("INSERT INTO Ip_addresses1 (IP,CITY,zip) VALUES ('128.32.12.14','Berkeley',94720)")
mycursor.execute("INSERT INTO Ip_addresses1 (IP,CITY,zip) VALUES ('64.165.72.144','West Sacramento',95819)")
mycursor.execute("INSERT INTO Ip_addresses1 (IP,CITY,zip) VALUES ('24.7.84.227','Albany',94706)")

mycursor.execute("SELECT * FROM Ip_addresses1")
for x in mycursor:
    print(x)

('8.8.8.8', 'Mountain View', 94041)
('128.120.0.25', 'Davis', 95616)
('128.32.12.14', 'Berkeley', 94720)
('64.165.72.144', 'West Sacramento', 95819)
('24.7.84.227', 'Albany', 94706)

In [537]:
#(e)automated way to insert df into mysql
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="your passwrd",
                               db="msba"))
#insert in to existing table(replace)


joinedlist.to_sql('Ip_addresses1',con=engine,if_exists='replace',
                   index_label='Row')

# Part 3

In [536]:
#(a)_pgn=

In [3]:
#(b)
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
import urllib.request, urllib.error, urllib.parse
import time
import re

In [5]:
URL = "https://www.ebay.com/e/daily-deals/hiw-presidents-day-deals-white-sale"
headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36",
"Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers=headers)
soup = BeautifulSoup(page.text, 'html.parser')

#Printing response code
print(page.status_code)

200

In [ ]:
file = open("deals.txt", "w")
url1 = 'https://www.ebay.com/e/daily-deals/hiw-presidents-day-deals-white-sale?_pgn='
for i in (1,11):
    r = requests.get(url1 + str(i))
    soup = BeautifulSoup(r.content, 'html.parser')
    
    for a in soup.select('a[class*="s-item__link"]', href=True):
        print(a['href'])
        if a['href']:
            file.write(a['href'] + '\n')
    time.sleep(10)
file.close()
#now the downloaded .txt file will return 240 URL

In [58]:
#(c)
#first, obtain item_id from all urls
file = open("deals.txt", "r")
headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36",
"Upgrade-Insecure-Requests":"1"}
listid = []
for line in file.readlines():
    page = requests.get(line, headers=headers)
    soup = BeautifulSoup(page.text, 'html.parser')
    divs = soup.find_all("div",{"class":"u-flL iti-act-num itm-num-txt"})
    for div in divs:
        listid.append(div.text)
        time.sleep(3)

In [ ]:
#second, save url page html file into new folder with it's own name
import os
#new folder
path = "Your Directory"
os.mkdir(path)
file = open("deals.txt", "r")

for line, num in zip(file.readlines(), listid):
    response = urllib.request.urlopen(line)
    webContent = response.read()
    
    f = open(path + str(num) +'.html','wb')
    f.write(webContent)
    print(line + " | " + num)
    time.sleep(4)
    f.close()
        
file.close()
#Since there are identical items in some pages, the item_id will be the same and hence will override the first saved file.
#95 unique items

In [66]:
#(d)seller name, seller score, item price, list price, # items sold, title, returns allowed,
#shipping price, condition

In [91]:
import os, sys
import pandas as pd

In [86]:
#seller name
sellername = []
directory ='Your Directory'
for filename in os.listdir(directory):
    fname = os.path.join(directory,filename)
    with open(fname, 'r') as f:
        soup = BeautifulSoup(f.read(),'html.parser')

    for name in soup.find("span", {"class": "mbg-nw"}):
        if name is not None:
            seller_name = soup.find("span", {"class": "mbg-nw"}).text
            sellername.append(seller_name)
          
        else:
            print("NULL")

In [164]:
#seller rating
sellerrating = []
directory ='Your Directory'
for filename in os.listdir(directory):
    fname = os.path.join(directory,filename)
    with open(fname, 'r') as f:
        soup = BeautifulSoup(f.read(),'html.parser')

    for rating in soup.find("span", {"class": "mbg-l"}).find("a", recursive=False):
        if rating is not None:
            seller_rating = soup.find("span", {"class": "mbg-l"}).find("a", recursive=False).text
            sellerrating.append(seller_rating)
        else:
            print("NULL")

In [214]:
#itemprice 
itemprice = []
directory ='Your Directory'
for filename in os.listdir(directory):
    fname = os.path.join(directory,filename)
    with open(fname, 'r') as f:
        soup = BeautifulSoup(f.read(),'html.parser')
    if len(soup.find_all("div", {"id": "vi-mskumap-none"})) == 0:
        itemprice.append("NULL")
        continue
    for item in soup.find_all("div", {"id": "vi-mskumap-none"}):
        if item is not None:
            item_price = item.find_all("span",{"id":"prcIsum"})[0].text
            itemprice.append(item_price)
            break
        else:
            itemprice.append("NULL")

In [216]:
#list price 
listprice = []
directory ='Your Directory'
for filename in os.listdir(directory):
    fname = os.path.join(directory,filename)
    with open(fname, 'r') as f:
        soup = BeautifulSoup(f.read(),'html.parser')
    if len(soup.find_all("div", {"class": "u-cb vi-VR-prcTmt-hide"})) == 0:
        listprice.append("NULL")
        continue
    for item in soup.find_all("div", {"class": "u-cb vi-VR-prcTmt-hide"}):
        if item is not None:
            try:
                item_price = soup.find("span",{"class":"notranslate ms-orp"}).text
                listprice.append(item_price)
                break
            except:
                listprice.append("NULL")

In [221]:
#num sold
num_sold = []
directory ='Your Directory'
for filename in os.listdir(directory):
    fname = os.path.join(directory,filename)
    with open(fname, 'r') as f:
        soup = BeautifulSoup(f.read(),'html.parser')
        
    for item in soup.find_all("div", {"class": "w2b w2bsls"}):
        try:
            numsold = [s.text for s in soup.find_all("span", {"class": "w2b-sgl"}) if 'sold' in s.text][0]
            num_sold.append(numsold)
            break
        except:
            num_sold.append("NULL")

In [117]:
#title
titlename = []
directory ='Your Directory'
for filename in os.listdir(directory):
    fname = os.path.join(directory,filename)
    with open(fname, 'r') as f:
        soup = BeautifulSoup(f.read(),'html.parser')

    for title in soup.find_all("div", {"class": "vi-swc-lsp"}):
        if title is not None:
            title = soup.find("h1", {"class": "it-ttl"}).text
            titlename.append(title)
        else:
            print("NULL")

In [120]:
#return
returnmethod = []
directory ='Your Directory'
for filename in os.listdir(directory):
    fname = os.path.join(directory,filename)
    with open(fname, 'r') as f:
        soup = BeautifulSoup(f.read(),'html.parser')

    for returns in soup.find("span", {"id": "vi-ret-accrd-txt"}):
        if returns is not None:
            returns = soup.find("span", {"id": "vi-ret-accrd-txt"}).text
            returnmethod.append(returns)
        else:
            print("NULL")

In [137]:
#Shipping price
shippingprice = []
directory ='/Users/rebecca/Download/ebaypageDDR/'
for filename in os.listdir(directory):
    fname = os.path.join(directory,filename)
    with open(fname, 'r') as f:
        soup = BeautifulSoup(f.read(),'html.parser')

    for shipping in soup.find_all("span", {"id": "shSummary"}):
        if shipping is not None:
            try:
                shipping_price = soup.find("span", {"class": "notranslate sh-fr-cst"}).text
                shippingprice.append(shipping_price)
            except AttributeError:
                shippingprice.append("NULL")

In [127]:
#Condition
conditiontype = []
directory ='Your Directory'
for filename in os.listdir(directory):
    fname = os.path.join(directory,filename)
    with open(fname, 'r') as f:
        soup = BeautifulSoup(f.read(),'html.parser')

    for condition in soup.find("div", {"class": "u-flL condText"}):
        if condition is not None:
            condition = soup.find("div", {"class": "u-flL condText"}).text
            conditiontype.append(condition)
        else:
            print("NULL")

In [437]:
dfebay = pd.DataFrame(
    {'seller_name': sellername,
     'seller_rating': sellerrating,
     'item_title':titlename,
     'return_method':returnmethod,
     'Condition':conditiontype,
     'Shipping':shippingprice,
     'item_price':itemprice,
     'listing_price':listprice,
     'Num_sold':num_sold
    })

In [438]:
#the table contains all 9 required elements
dfebay.head(3)

,seller_name,seller_rating,item_title,return_method,Condition,Shipping,item_price,listing_price,Num_sold
0,cozyarray,219664,Details about SET OF KING SIZE PILLOWCASES S...,Free 60 day returns,New with tags,\nFREE\n,US $7.99,\nWas:\n\t\t\t\t\t\t\tUS $24.99,"2,445 sold"
1,homecollection_deals,11412,Details about 4 Piece Bed Sheet Set 1800 Cou...,Free 30 day returns,New with tags,\nFREE\n,US $12.50,NULL,467 sold
2,ecitydirect,99630,Details about Chezmoi Collection Sydney Pinc...,Free 30 day returns,New with tags,\nFREE\n,US $39.99,NULL,533 sold

In [439]:
#clean 'Shipping' column
dfebay = dfebay.replace(r'\n',  ' ', regex=True)

In [440]:
#clean 'listing_price' column
dfebay['listing_price'] = dfebay['listing_price'].str.split('\$').str[-1].str.strip()

In [441]:
#clean 'title' column
dfebay['item_title'] = dfebay['item_title'].replace('Details about ', '', regex=True)

In [442]:
#clean 'item_price' column
dfebay['item_price'] = dfebay['item_price'].str.split('\$').str[-1].str.strip()

In [443]:
#clean num_sold
dfebay['Num_sold'] = dfebay['Num_sold'].replace(' sold', '', regex=True)

In [444]:
#clean num_sold
dfebay['Num_sold'] = dfebay['Num_sold'].replace(',','', regex=True)

In [445]:
#(e)
df = dfebay.apply(lambda x: x.str.replace('.', ''))

<ipython-input-445-f1c67effa5cf>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df = dfebay.apply(lambda x: x.str.replace('.', ''))

In [471]:
#replace null values to 0 for now
df = df.replace(r'NULL',  '0', regex=True)
df.head(3)

,seller_name,seller_rating,item_title,return_method,Condition,Shipping,item_price,listing_price,Num_sold
0,cozyarray,219664,SET OF KING SIZE PILLOWCASES SOFT AS 1500 TH...,Free 60 day returns,New with tags,FREE,799,2499,2445
1,homecollection_deals,11412,4 Piece Bed Sheet Set 1800 Count Egyptian Co...,Free 30 day returns,New with tags,FREE,1250,0,467
2,ecitydirect,99630,Chezmoi Collection Sydney Pinch Pleat Pintuc...,Free 30 day returns,New with tags,FREE,3999,0,533

In [465]:
#on df row 35 the num_sold is not numeric, instead it's "More than 69% sold", drop this row
delete_row = df[df["Num_sold"]=='More than 69%'].index
dfnew = df.drop(delete_row)

In [483]:
#convert numeric col into num
dfnew["Num_sold"] = dfnew["Num_sold"].astype(int)
dfnew["seller_rating"] = dfnew["seller_rating"].astype(int)
dfnew["item_price"] = dfnew["item_price"].astype(int)
dfnew["listing_price"] = dfnew["listing_price"].astype(int)
dfnew.dtypes

seller_name      object
seller_rating     int64
item_title       object
return_method    object
Condition        object
Shipping         object
item_price        int64
listing_price     int64
Num_sold          int64
dtype: object

In [452]:
import pymysql
from sqlalchemy import create_engine

In [453]:
#insert table into database

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="Your Passwrd",
                               db="msba"))
#create table 


dfnew.to_sql('deals1',con=engine,if_exists='replace',
                   index_label='Row')

In [ ]:
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Your Passwrd",
  database="msba"
  )
db_cursor = db_connection.cursor()

db_cursor.execute("SELECT * FROM deals1")
for x in db_cursor:
    print(pd.DataFrame(x))
#0 represent NULL

In [460]:
#(f)
import numpy as np

In [522]:
#(f).(i)-with listing price
#item price distribution when listing_price is avaliable.
list_yes = dfnew[(dfnew["item_price"] != 0) & (dfnew["listing_price"] != 0)]
print('with listing price')
print('min_item_price:',list_yes["item_price"].min(),
      'mean_item_price:',list_yes["item_price"].mean(),
      'max_item_price:',list_yes["item_price"].max())
print('min_num_sold:',list_yes["Num_sold"].min(),
      'mean_num_sold:',list_yes["Num_sold"].mean(),
      'max_num_sold:',list_yes["Num_sold"].max())
print('min_num_seller_rating:',list_yes["seller_rating"].min(),
      'mean_num_seller_rating:',list_yes["seller_rating"].mean(),
      'max_num_seller_rating:',list_yes["seller_rating"].max())

with listing price
min_item_price: 599 mean_item_price: 1959.9024390243903 max_item_price: 9499
min_num_sold: 122 mean_num_sold: 13883.926829268292 max_num_sold: 181276
min_num_seller_rating: 3192 mean_num_seller_rating: 194226.29268292684 max_num_seller_rating: 219664

In [523]:
#(f).(i)-no listing price
#item price distribution when listing_price is not avaliable.
list_no = dfnew[(dfnew["item_price"] != 0) & (dfnew["listing_price"] == 0)]
print('no listing price')
print('min_item_price:',list_no["item_price"].min(),
      'mean_item_price:',list_no["item_price"].mean(),
      'max_item_price:',list_no["item_price"].max())
print('min_num_sold:',list_no["Num_sold"].min(),
      'mean_num_sold:',list_no["Num_sold"].mean(),
      'max_num_sold:',list_no["Num_sold"].max())
print('min_num_seller_rating:',list_no["seller_rating"].min(),
      'mean_num_seller_rating:',list_no["seller_rating"].mean(),
      'max_num_seller_rating:',list_no["seller_rating"].max())

no listing price
min_item_price: 999 mean_item_price: 2574.268292682927 max_item_price: 7899
min_num_sold: 0 mean_num_sold: 1691.3902439024391 max_num_sold: 5004
min_num_seller_rating: 11412 mean_num_seller_rating: 44684.0243902439 max_num_seller_rating: 146897

In [513]:
#check unique value in condition col
dfnew['Condition'].unique()
#only two types of condition: 'New with tags' and 'New'

array(['New with tags', 'New'], dtype=object)

In [524]:
#(f).(ii)-condition:'New with tags'
condition_1 = dfnew[(dfnew["item_price"] != 0) & (dfnew["Condition"] == 'New with tags')]
print('condition1: New with tags')
print('min_item_price:',condition_1["item_price"].min(),
      'mean_item_price:',condition_1["item_price"].mean(),
      'max_item_price:',condition_1["item_price"].max())
print('min_num_sold:',condition_1["Num_sold"].min(),
      'mean_num_sold:',condition_1["Num_sold"].mean(),
      'max_num_sold:',condition_1["Num_sold"].max())
print('min_num_seller_rating:',condition_1["seller_rating"].min(),
      'mean_num_seller_rating:',condition_1["seller_rating"].mean(),
      'max_num_seller_rating:',condition_1["seller_rating"].max())

condition1: New with tags
min_item_price: 599 mean_item_price: 2210.3205128205127 max_item_price: 7899
min_num_sold: 0 mean_num_sold: 7445.4358974358975 max_num_sold: 181276
min_num_seller_rating: 3192 mean_num_seller_rating: 122073.26923076923 max_num_seller_rating: 219664

In [525]:
#(f).(ii)-condition:'New'
condition_2 = dfnew[(dfnew["item_price"] != 0) & (dfnew["Condition"] == 'New')]
print('condition2: New')
print('min_item_price:',condition_2["item_price"].min(),
      'mean_item_price:',condition_2["item_price"].mean(),
      'max_item_price:',condition_2["item_price"].max())
print('min_num_sold:',condition_2["Num_sold"].min(),
      'mean_num_sold:',condition_2["Num_sold"].mean(),
      'max_num_sold:',condition_2["Num_sold"].max())
print('min_num_seller_rating:',condition_2["seller_rating"].min(),
      'mean_num_seller_rating:',condition_2["seller_rating"].mean(),
      'max_num_seller_rating:',condition_2["seller_rating"].max())

condition2: New
min_item_price: 999 mean_item_price: 3374.0 max_item_price: 9499
min_num_sold: 1859 mean_num_sold: 14461.0 max_num_sold: 28128
min_num_seller_rating: 65483 mean_num_seller_rating: 68402.0 max_num_seller_rating: 77159

In [ ]:
#(g)
#With list price appears or not appears on the website, the item price a generally low for items with listing price given
#maybe due to the discount from the original price. The number of item sold are much higher for item with listing price than 
#items without listing price. The seller rating does not have obvious pattern so it depends on other products that 
#the seller might have. But overall the performance for item with listing price generally sell more than item with
#no listing price.